<div class="min-h-screen flex flex-col justify-between items-center">
    <div class="mb-4 mt-32">
        <img src="../../assets/logos/logo.png" alt="App Logo"
            class="w-72 h-72 sm:w-96 sm:h-96 md:w-112 md:h-112 lg:w-128 lg:h-128 object-contain">
    </div>
    <div class="mb-4 text-center">
        <h1 class="text-4xl sm:text-6xl md:text-8xl font-semibold">xpartiestinder</h1>
    </div>
    <div class="text-center">
        <p class="text-md sm:text-xl md:text-2xl">Find your perfect match today</p>
    </div>
    <div class="w-full flex justify-center mt-auto mb-8">
        <a href="/login" class="w-4/5 sm:w-3/4 md:w-1/2 px-4 py-2 font-semibold" hlmBtn>
            Connect
        </a>
    </div>
</div>

<div class="absolute top-4 right-6">
    <label class="flex items-center font-semibold" hlmLabel>
        <hlm-switch class="mr-2" (click)="toggleTheme()" />
        {{currentTheme()}} Theme
    </label>
</div>