<div class="mb-4">
    <img src="../../assets/logos/logo.png" alt="App Logo"
        class="w-96 h-96 sm:w-112 sm:h-112 md:w-128 md:h-128 object-contain mx-auto">
</div>
<div class="mb-2 text-center">
    <h1 class="text-5xl sm:text-6xl md:text-7xl font-semibold">xpartiestinder</h1>
</div>
<div class="text-center">
    <p class="text-md sm:text-xl md:text-2xl">Find your perfect match today</p>
</div>
<div class="w-full flex justify-center mt-auto">
    <a href="/login" class="w-full" hlmBtn>
        Connect
    </a>
</div>

<div class="absolute top-4 right-6">
    <label class="flex items-center" hlmLabel>
        <hlm-switch class="mr-2" (click)="toggleTheme()" />
        {{currentTheme()}} Theme
    </label>
</div>