<div class="max-w-sm mx-auto bg-white rounded-2xl shadow-lg overflow-hidden">
    <div class="grid p-4">
        <h2 class="text-xl font-bold text-gray-800 mb-4 text-center">Log in to Xparties.Tinder</h2>

        <div class="flex flex-col space-y-2">
            <!-- Google Login Button -->
            <a hlmBtn href="https://xparties-tinder.onrender.com/oauth2/authorization/google">
                Continue with Google
            </a>

            <!-- GitHub Login Button -->
            <a hlmBtn href="https://xparties-tinder.onrender.com/oauth2/authorization/github">
                Continue with GitHub
            </a>

            <!-- Test Login Button -->
            <a hlmBtn href="https://xparties-tinder.onrender.com/api/event/events">
                Continue with Test1
            </a>

            <!-- Test Login Button -->
            <a hlmBtn href="https://xparties-tinder.onrender.com/person/persons">
                Continue with Test2
            </a>
        </div>
    </div>
</div>

<!-- <div>
    <h3>Fetched Data:</h3>
    <pre>{{ data | json }}</pre>
</div>

<ng-template #loading>
    <p>Loading...</p>
</ng-template> -->