<div class="max-w-sm mx-auto bg-white rounded-2xl shadow-lg overflow-hidden">
    <div class="grid p-4">
        <h2 class="text-xl font-bold text-gray-800 mb-4 text-center">Log in to Xparties.Tinder</h2>

        <div class="flex flex-col space-y-2">
            <!-- <button hlmBtn>Continue with Google</button>
            <button hlmBtn>Continue with GitHub</button> -->
            <button>Continue with Google</button>
            <button>Continue with GitHub</button>
        </div>
    </div>
</div>