<div class="max-w-sm mx-auto bg-white rounded-2xl shadow-lg overflow-hidden">
    <div class="grid p-4">
        <h2 class="text-xl font-bold text-gray-800 mb-4 text-center">Log in to Xparties.Tinder</h2>

        <div class="flex flex-col space-y-2">
            <!-- Google Login Button -->
            <!-- https://xparties-tinder.onrender.com/oauth2/authorization/google -->
            <!-- http://localhost:8080/oauth2/authorization/google -->
            <a hlmBtn href="https://xparties-tinder.onrender.com/oauth2/authorization/google">
                Continue with Google
            </a>

            <!-- GitHub Login Button -->
            <!-- https://xparties-tinder.onrender.com/oauth2/authorization/github -->
            <!-- http://localhost:8080/oauth2/authorization/github -->
            <a hlmBtn href="https://xparties-tinder.onrender.com/oauth2/authorization/github">
                Continue with GitHub
            </a>

            <!-- Facebook Login Button -->
            <!-- https://xparties-tinder.onrender.com/oauth2/authorization/facebook -->
            <!-- http://localhost:8080/oauth2/authorization/facebook -->
            <a hlmBtn href="https://xparties-tinder.onrender.com/oauth2/authorization/facebook">
                Continue with Facebook
            </a>
        </div>
    </div>
</div>
<div>deployed</div>