<div class="flex justify-between items-center p-4 fixed w-full top-0 z-10 backdrop-blur-lg shadow-custom">
    <div class="flex items-center relative">
        <img src="../../assets/logos/second-logo.png" alt="Application Logo" class="w-14 h-14 lg:w-20 lg:h-20">
        <span class="text-xl font-semibold lg:text-2xl ml-[-1.25rem] lg:ml-[-1.75rem]">
            partiestinder
        </span>
    </div>

    <div class="flex items-center gap-4">
        <label class="flex items-center font-semibold cursor-pointer" hlmLabel>
            <hlm-switch class="mr-2" (click)="toggleTheme()" />
            {{currentTheme()}} Theme
        </label>
        <fa-icon [icon]="faBell" class="text-xl cursor-pointer"></fa-icon>
    </div>
</div>