@import '@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sans: 'Montserrat', sans-serif;
    --selection-color: 323, 100%, 70%;
}

:root {
--background: 0 0% 100%;
--foreground: 224 71.4% 4.1%;
--muted: 220 14.3% 95.9%;
--muted-foreground: 220 8.9% 46.1%;
--popover: 0 0% 100%;
--popover-foreground: 224 71.4% 4.1%;
--card: 0 0% 100%;
--card-foreground: 224 71.4% 4.1%;
--border: 220 13% 91%;
--input: 220 13% 91%;
--primary: 220.9 39.3% 11%;
--primary-foreground: 210 20% 98%;
--secondary: 220 14.3% 95.9%;
--secondary-foreground: 220.9 39.3% 11%;
--accent: 220 14.3% 95.9%;
--accent-foreground: 220.9 39.3% 11%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 210 20% 98%;
--ring: 224 71.4% 4.1%;
--radius: 0.5rem;
--shadow-color: 0 0% 0% / 0.2;
color-scheme: light;
}

.Dark {
--background: 224 71.4% 4.1%;
--foreground: 210 20% 98%;
--muted: 215 27.9% 16.9%;
--muted-foreground: 217.9 10.6% 64.9%;
--popover: 224 71.4% 4.1%;
--popover-foreground: 210 20% 98%;
--card: 224 71.4% 4.1%;
--card-foreground: 210 20% 98%;
--border: 215 27.9% 16.9%;
--input: 215 27.9% 16.9%;
--primary: 210 20% 98%;
--primary-foreground: 220.9 39.3% 11%;
--secondary: 215 27.9% 16.9%;
--secondary-foreground: 210 20% 98%;
--accent: 215 27.9% 16.9%;
--accent-foreground: 210 20% 98%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 210 20% 98%;
--ring: 216 12.2% 83.9%;
--shadow-color: 0 0% 100% / 0.1;
color-scheme: dark;
}

body {
    background-color: hsl(var(--background));
    font-family: var(--font-sans);
    color: hsl(var(--foreground));
    transition: background-color 0.3s, color 0.3s;
}

@layer base {
    * {
        @apply border-border;
    }
}

.shadow-custom {
    box-shadow: 0 4px 8px -2px hsl(var(--shadow-color));
}

::selection {
    background-color: hsl(var(--selection-color));
    color: hsl(var(--background));
}

/* Animations */

.ripple-effect {
    position: absolute;
    /* border-radius: 50%; */
    background: rgba(255, 255, 255, 0.7); 
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
    width: 100px; 
    height: 100px; 
}

.Light .ripple-effect {
    background: hsl(var(--foreground));
}

@keyframes ripple-animation {
    to {
        transform: scale(4); 
        opacity: 0;
    }
}