<div class="flex flex-col h-screen">
    <xpt-header />

    <div class="flex-1 overflow-auto mt-[2rem] mb-[4rem] lg:mt-[4rem] lg:mb-[5rem]">
        <div class="overflow-hidden">
            <div [@routeAnimations]="currentRoute">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </div>
    </div>

    <xpt-footer />
</div>

<!-- INFO -->
<!-- 
🏠 Home - Redirects to the main event discovery page.
📅 Events - Shows a list of available events to enroll in.
❤️ Matches - Displays users you've matched with.
💬 Chat - Opens the messaging section.
👤 Profile - Access user settings and logout.
-->