<div class="px-4 py-12 sm:py-16 lg:px-24">
    <section class="text-center max-w-xl mx-auto mb-12">
        <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold mb-4">
            <span class="text-xpt-pink">Match. </span>
            <span class="text-xpt-purple">Meet. </span>
            <span class="text-xpt-violet">Party. </span>
        </h1>
        <p class="text-base sm:text-lg text-muted-foreground">
            Connect with like-minded people at the events you love. Swipe to find your perfect event companion!
        </p>
    </section>

    <section class="mb-8 lg:mb-12">
        <div class="flex flex-row items-center justify-between gap-4 mb-6">
            <div>
                <h4 class="text-xl sm:text-2xl lg:text-3xl font-semibold mb-2">
                    Your Upcoming Events
                </h4>
                <p class="text-gray-500 text-base sm:text-md lg:text-lg">
                    Click on any event to start matching with other participants
                </p>
            </div>
            <span
                class="px-4 py-2 text-sm lg:text-lg font-semibold whitespace-nowrap underline text-glow flex items-center gap-2">
                <span *ngIf="isBusy(); else count">
                    <hlm-spinner class="w-4 h-4 lg:w-6 lg:h-6 flex justify-center" />
                </span>
                <ng-template #count>{{ enrolledEvents().length }}</ng-template>
                Events
            </span>
        </div>
    </section>


    <ul class="grid gap-6 sm:gap-8 lg:gap-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        @if ( isBusy() ) {
        <!-- TODO: Check the skeleton -->
        @for (_ of [1, 2, 3, 4, 5, 6]; track _) {
        <li class="relative rounded-xl shadow-custom overflow-hidden">
            <div class='flex items-center p-2 m-2 w-fit space-x-2 w-full h-24 block rounded-xl'>
                <hlm-skeleton class='w-12 h-12 w-1/4' />
                <div class='space-y-1 w-full'>
                    <hlm-skeleton class='h-5 w-3/4' />
                    <hlm-skeleton class='h-4 w-2/4' />
                </div>
            </div>
        </li>
        }
        } @else {
        @defer ( when !isBusy() ) {
        @for (enrolledEvent of enrolledEvents(); track enrolledEvent.externalId) {
        <li (click)="navigateToMatchExplorer()"
            class="rounded-2xl sm:rounded-3xl overflow-hidden hover-lift cursor-pointer group shadow-custom animate-fade-in">
            <div class="relative h-48 sm:h-56 lg:h-64 overflow-hidden">
                <img [src]="enrolledEvent.src" [alt]="enrolledEvent.name"
                    class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105">
                <div class="absolute top-4 right-4">
                    <span class="bg-[#0fa448] text-white px-3 py-1 rounded-full text-xs sm:text-sm
                                font-semibold">Enrolled</span>
                </div>
            </div>

            <div class="p-6 sm:p-7 lg:p-8">
                <h3
                    class="whitespace-nowrap overflow-hidden text-ellipsis text-glow text-base text-xl lg:text-2xl font-bold bg-gradient-to-r from-xpt-pink via-xpt-purple to-xpt-violet bg-clip-text text-transparent mb-4 sm:mb-6 transition-transform duration-300 group-hover:scale-105">
                    {{ enrolledEvent.name }}
                </h3>

                <div class="space-y-3 sm:space-y-4 mb-6 sm:mb-8">
                    <div class="flex items-center text-gray-600">
                        <fa-icon [icon]="faCalendar" class="text-primary mr-2 text-lg"></fa-icon>
                        <p class="text-base text-primary sm:text-lg">{{enrolledEvent.date | date}}</p>
                    </div>
                    <div class="flex items-center text-gray-600">
                        <fa-icon [icon]="faLocationDot" class="text-primary mr-2 text-lg"></fa-icon>
                        <p class="text-base text-primary sm:text-lg">{{ enrolledEvent.location }}</p>
                    </div>
                    <div class="flex items-center text-gray-600">
                        <fa-icon [icon]="faUsers" class="text-primary mr-2 text-lg"></fa-icon>
                        <p class="text-base text-primary sm:text-lg">{{ enrolledEvent.participants }}</p>
                    </div>
                </div>

                <button hlmBtn
                    class="w-full px-8 py-8 rounded-xl sm:rounded-2xl transition-transform duration-300 group-hover:scale-105 bg-gradient-to-r from-xpt-pink via-xpt-purple to-xpt-violet text-white font-semibold shadow-xpt-glow">
                    <span class="text-base sm:text-lg mr-2">Start Matching</span>
                    <fa-icon [icon]="faArrowRight" class="text-medium sm:text-base"></fa-icon>
                </button>
            </div>
        </li>
        } @empty {
        <li
            class="col-span-full flex justify-center items-center min-h-[400px] rounded-xl shadow-custom p-6 opacity-0 animate-fade-in">
            <div class="text-center max-w-xs md:max-w-md">
                <img src="../../../../assets/placeholders/no-events-found.png" alt="No Events Placeholder"
                    class="mx-auto w-32 h-32 md:w-48 md:h-48 object-cover mb-4 md:mb-6">
                <h3 class="text-xl md:text-2xl font-semibold mb-2">No Upcoming Events Found</h3>
                <p class="text-sm md:text-base text-gray-500">It looks like there are no upcoming events for you at the
                    moment. Check the events page and start enroll into events to find your perfect match!
                </p>
            </div>
        </li>
        }
        }
        }
    </ul>
</div>

<router-outlet></router-outlet>