<div class="px-4 py-16">
    <section class="flex flex-col items-center justify-center">
        <h1>Match. Meet. Party.</h1>
        <p>Connect with like-minded people at the events you love. Swipe to find your perfect event companion!</p>
    </section>

    <section>
        <h4> Your Upcoming Events</h4>
        <p> Click on any event to start matching with other participants</p>
        <span>3 Events</span>
    </section>

    <ul>
        <li>
            <img src="" alt="">
            <span>Enrolled</span>
            <p>Summer Music Festival 2024</p>
            <div class="flex">
                <fa-icon [icon]="faCalendar"></fa-icon>
                <p>Jun 1, 2025</p>
            </div>
            <div class="flex">
                <fa-icon [icon]="faLocationDot"></fa-icon>
                <p>Costinesti, Romania</p>
            </div>
            <div class="flex">
                <fa-icon [icon]="faUsers"></fa-icon>
                <p>28 participants</p>
            </div>
            <button>
                Start Matching
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </li>
    </ul>
</div>