<!-- <p @slideFromBottomToTop class="fixed inset-0 z-20 overflow-auto bg-[hsl(var(--background))]">match-explorer works!</p> -->

<div @slideFromBottomToTop class="fixed inset-0 z-20 overflow-auto bg-[hsl(var(--background))]">
    <!-- Header -->
    <div class="flex items-center space-x-6 p-4 shadow-custom">
        <h1 class="text-2xl font-bold">Edit profile</h1>
    </div>

    <!-- Content -->
    <div class="p-4 sm:px-16 md:px-32 lg:px-64">

        <!-- Media Section -->
        <h2 class="text-lg font-bold mb-4">Media</h2>

        <ul class="grid grid-cols-3 gap-4">
            asdasdasd

            <!-- Placeholder Cards -->
            asdasdasd
        </ul>

        <!-- About Me Section -->
        <h2 class="text-lg font-bold my-4">About Me</h2>

        <textarea class="min-h-[80px] w-full" hlmInput placeholder="About Me"></textarea>

        <!-- Gender Section -->
        <h2 class="text-lg font-bold my-4">Gender</h2>

        <!-- Sexual Orientation Section -->
        <h2 class="text-lg font-bold my-4">Sexual Orientation</h2>

        <!-- Control Your Profile Section -->
        <h2 class="text-lg font-bold my-4">Control Your Profile</h2>

        <label class="flex items-center" hlmLabel>
            Don't Show My Age
        </label>

    </div>
</div>